@import "tailwindcss";

/* Custom scrollbars */
* {
  scrollbar-width: thin;
  /* Subtle scrollbar akin to ChatGPT */
  scrollbar-color: #565869 #2A2B32;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2A2B32;
}

*::-webkit-scrollbar-thumb {
  background: #565869;
  border-radius: 9999px;
}
