@import "tailwindcss";

/* Custom scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: #223042 #0E141B;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #0E141B;
}

*::-webkit-scrollbar-thumb {
  background: #223042;
  border-radius: 9999px;
}
